<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre Cliente</th>
        <th scope="col">Apellido Cliente</th>
        <th scope="col">Fecha</th>
        <th scope="col">Correo</th>
        <th scope="col">Id_Boleto</th>
        <th scope="col">Id_Compra</th>
        <th scope="col">Origen</th>
        <th scope="col">Destino</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Esbin Daniel</td>
        <td>Gonzalez Orozco</td>
        <td>2021-02-21</td>
        <td>usuario1@email.es</td>
        <td>100000</td>
        <td>101123</td>
        <td>Guatemala</td>
        <td>Irlanda</td>
        <td>Q1000,00</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Fernanda Abigail</td>
        <td>Perez Guillen</td>
        <td>2021-03-21</td>
        <td>usuario2@email.eu</td>
        <td>103000</td>
        <td>171421</td>
        <td>Inglaterra</td>
        <td>Paris</td>
        <td>Q3700,00</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Kevin Rodrigo</td>
        <td>Santizo Callejas</td>
        <td>2021-02-21</td>
        <td>usuario3@email.eu</td>
        <td>103201</td>
        <td>271523</td>
        <td>Kuwait</td>
        <td>Kenia</td>
        <td>$7000,00</td>
      </tr>
    </tbody>
  </table>
